doctype html
html
    head
        title Quiz start | PersonalityPredictor
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        link(rel='icon' href='/favicon.png')
        link(rel='stylesheet' href='/styles/main.css')

    body
        include ../../shared/nav/nav.pug
        include ../../shared/quiz/quiz.pug
        +nav('/images/logo-evil.png', 'quiz', false)

        .container.py-5
            .row.justify-content-center.mb-3
                .col-12
                    .page-header
                        h2.page-title Personality Quiz
                        p.page-subtitle Fill in the information below to get started
                    .info-container.bg-light.rounded-bottom.p-4
                        h3.results-title.fw-bold Personality quiz form
                        form(method='POST' action='/quiz/start')
                            .mb-3
                                label.form-label(for="name") Name
                                input#name.form-control(name="name", type="text")
                            .mb-3
                                label.form-label(for="email") Email
                                input#email.form-control(name="email", type="email")
                            .mb-3
                                label.form-label(for="age") Age
                                input#age.form-control(name="age", type="number")
                            .mb-3
                                label.form-label(for="password") Password
                                input#password.form-control(name="password", type="password")
                            .mb-3
                                label.form-label(for="questionCount") Question count
                                select#questionCount.form-control(aria-describedby="questionCountHelp", name="questionCount")
                                    option(value="10") 10
                                    option(value="20") 20
                                    option(value="30") 30
                                    option(value="40") 40
                                    option(value="50") 50
                                    option(value="60", selected) 60
                            button.btn.btn-pp(type="submit") Submit
