doctype html
html
    head
        title Quiz | PersonalityPredictor
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        link(rel='icon' href='/favicon.png')
        link(rel='stylesheet' href='/styles/main.css')

    body
        include ../../shared/nav/nav.pug
        include ../../shared/quiz/quiz.pug
        +nav('/images/logo-evil.png', 'home', false)

        .container.py-5
            .row.justify-content-center
                .col-12
                    .page-header
                        h2.page-title Quiz
                        p.page-subtitle Answer the questions below to predict your personality type. Answer by sliding the slider to the position that best represents your opinion.
                    .info-container.bg-light.rounded-bottom.p-3
                        .py-3
                            +questionSliderForm(questions, false)