doctype html
html
    head
        title About | PersonalityPredictor
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        link(rel='icon' href='favicon.png')
        link(rel='stylesheet' href='/styles/main.css')

    body
        include ../../shared/nav/nav.pug
        +nav('/images/logo-good.png', 'about')

        section.page
            .container.py-5
                .row.justify-content-center
                    .col-12.text-center
                        h2 About

